# 飞书配置
FEISHU_APP_ID=cli_a93c5e57d338dcbb
FEISHU_APP_SECRET=kymQIWXoPGDUi0xJcOHfig2aAgNODnrk
FEISHU_VERIFICATION_TOKEN=1ce2iabnwOCPVPPJ09w2jh5V7wt4JH67

# 监控的股票代码 (逗号分隔)
DEFAULT_STOCKS=sz000683,sz300498,sh510720

# 飞书群 Open ID (用于定时推送)
FEISHU_GROUP_OPEN_ID=

# 端口
PORT=5000
